<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Never_End</title>
    <!--header——js-->
    <div th:replace="../templates/admin/include/header :: headerJsCss"></div>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--Navigation Bar-->
    <div th:replace="../templates/admin/include/top :: topHeader"></div>
    <!--<div th:replace="../templates/admin/include/leftto::#lefttest(activeUrl='main')"></div>-->
    <!--Navigation Bar-->
    <div th:replace="../templates/admin/include/left :: #leftinclude"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div id="bodyHtmlAdd" style="padding: 15px;">

        </div>
    </div>

    <!--Bottom information Text-->
    <div th:replace="../templates/admin/include/footer :: footerHtml"></div>
</div>
<!--Bottom information js-->
<div th:replace="../templates/admin/include/footerjs :: footerJsCss"></div>
<script>
    var layer ;
    layui.use(['element','layer'], function(){
        var element = layui.element;
        layer = layui.layer;
    });

    function openclickm() {
        layer.msg("正在开发中",{offset: ['50%', '50%']});
    }
    function openclickmzc() {
        layer.msg("暂不开放注册",{offset: ['50%', '50%']});
    }
</script>
</body>
</html>