<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Never_End</title>
    <link rel="Shortcut Icon" href="/static/res/favicon2.ico" type="image/x-icon" />
    <!--header——js-->
    <div th:replace="../templates/admin/include/header :: headerJsCss"></div>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--Navigation Bar-->
    <div th:replace="../templates/admin/include/top :: topHeader"></div>
    <!--<div th:replace="../templates/admin/include/leftto::#lefttest(activeUrl='main')"></div>-->
    <!--Navigation Bar-->
    <div th:replace="../templates/admin/include/left :: #leftinclude"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div id="bodyHtmlAdd" style="padding: 15px;">

        </div>
    </div>

    <!--Bottom information Text-->
    <div th:replace="../templates/admin/include/footer :: footerHtml"></div>
</div>
<!--Bottom information js-->
<div th:replace="../templates/admin/include/footerjs :: footerJsCss"></div>
<script>
    var layer ;
    layui.use(['element','layer'], function(){
        var element = layui.element;
        layer = layui.layer;
    });
    var indexiskq;
    function openclickm() {
        layer.close(indexiskq);
        indexiskq =  layer.open({
            type: 2,
            title: '个人信息',
            shadeClose: true,
            shade: false,
            offset: ['2%', '15%'],
            anim:4,
            maxmin: true, //开启最大化最小化按钮
            area: ['893px', '600px'],
            content: '/user/msg',
            end: function(){
                iskqigrxx=0;
            }
        });

    }
    function openclickmwx() {
        layer.msg("暂未开放",{offset: ['50%', '50%']});

    }
    function openclickmqq() {
        layer.msg("暂未开放",{offset: ['50%', '50%']});

    }
    function openclickmzc() {
        layer.msg("暂不开放注册",{offset: ['50%', '50%']});
    }
</script>
</body>
</html>