<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Never_End</title>
    <link rel="Shortcut Icon" href="/static/res/favicon2.ico" type="image/x-icon" />
    <!--header——js-->
    <link rel="stylesheet" type="text/css"
          href="/static/res/ckeditor/plugins/codesnippet/lib/highlight/styles/monokai_sublime.css">
    <div th:replace="../templates/admin/include/header :: headerJsCss"></div>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--Navigation Bar-->
    <div th:replace="../templates/admin/include/top :: topHeader"></div>

    <!--Navigation Bar-->
    <div th:replace="../templates/admin/include/left :: #leftinclude(selAddClass=fwbu)"></div>

    <div class="layui-body">

        <!-- 内容主体区域 -->
        <div id="bodyHtmlAdd" style="padding: 15px;">
            <div id="yulankuang">
                <form method="post" class="layui-form">
                    <div style="margin-top: -1px;width: 200px;height: 738px;position: absolute;background: rgb(204, 234, 238)">

                        <div class="layui-form-item">
                                <select name="interest" lay-filter="articlelevel">
                                    <option value="0" selected>选择文章级别</option>
                                    <option value="0">最低</option>
                                    <option value="1">普通</option>
                                    <option value="2">中级</option>
                                    <option value="3">高级</option>
                                    <option value="4">最高</option>
                                </select>
                        </div>


                        <div class="layui-form-item">
                            <div style="width: 200px" class="layui-input-inline">
                                <input id="acticleName" type="text" name="username" lay-verify="required" placeholder="文章标题" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div style="width: 200px" class="layui-input-inline">
                                <textarea id="acticleZy" name="" required lay-verify="required" placeholder="摘要——简略" class="layui-textarea"></textarea>
                                <!--<input id="acticleZy" type="text" name="username" lay-verify="required" placeholder="摘要——简略" autocomplete="off" class="layui-input">-->
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div style="width: 200px" class="layui-input-inline">
                                <input id="acticleUser" type="text" name="username" lay-verify="required" placeholder="作者" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div id="ztreeAticle"></div>
                    </div>
                    <div style="margin-left: 200px">
                        <textarea name="editor1" id="editor1"></textarea>
                    </div>
                </form>
                <div style="padding: 0px;height: 40px;width: 100%;margin-top: 5px">
                    <div style="float: right;margin: 5px">
                        <button onclick="releaseBlog()" class="layui-btn">发布</button>
                    </div>

                    <div style="float: right;margin: 5px">
                        <button onclick="clearText()" class="layui-btn">重置</button>
                    </div>

                    <div style="float: right;margin: 5px">
                        <button onclick="huQuTextHtml()" class="layui-btn">预览</button>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <!--Bottom information Text-->
    <div th:replace="../templates/admin/include/footer :: footerHtml"></div>
    <script type="text/javascript" src="/static/res/ckeditor/ckeditor.js"></script>
    <script type="text/javascript"
            src="/static/res/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>
    <script type="text/javascript" src="/static/res/layui/layui.js"></script>
</div>
<!--Bottom information js-->
<div th:replace="../templates/admin/include/footerjs :: footerJsCss"></div>
<script>

    var layer = "";
    var tree = "";
    var articlelevel = 0;
    layui.use(['layer', 'form', 'tree','element'], function () {
            layer = layui.layer;
            var  form = layui.form;
             tree = layui.tree;
            var element = layui.element;
        form.on('select(articlelevel)', function(data){
            articlelevel = data.value; //得到被选中的值
        });
        $.ajax({
            type: 'get',
            url: '/system/admin/acticle/tree',
            data: '',
            success: function (data) {
                if (data.code == 0) {
                    var datatree = data.data;
                    //渲染
                    var inst1 = tree.render({
                        elem: '#ztreeAticle',  //绑定元素
                        showLine: true,
                        showCheckbox: true,
                        data: datatree,
                        id: 'syId' //定义索引
                    });
                }
            }
        });
    });
    CKEDITOR.replace('editor1');

    function huQuTextHtml() {
        var acticelName = $("#acticleName").val().trim();
        var acticleZy = $("#acticleZy").val().trim();
        var acticleUser = $("#acticleUser").val().trim();
        var checkData = JSON.stringify(tree.getChecked('syId'));
        var dataht = CKEDITOR.instances.editor1.getData();
        var datauht = encodeURIComponent(dataht);
        if (datauht == ""){
            layer.msg("输入文章内容");
        } else {
            if (acticelName != "" && acticelName.length>1 && checkData.length>0){
                $.ajax({
                    type: 'post',
                    url: '/system/yulan',
                    data: 'context=' + datauht + "&articleName="+encodeURI(acticelName)+"&articleSortSuperId="
                    +checkData+"&briefIntroduction="+encodeURI(acticleZy)+"&articlelevel="+articlelevel,
                    success: function (data) {
                        if (data.code == "200") {
                            window.open(data.url);
                        } else {
                            layui.use(['layer', 'form', 'tree'], function () {
                                var layer = layui.layer
                                layer.msg(data.msg);
                            })
                        }
                    },
                    error:function () {
                        layer.msg("服务中断");
                    }
                });
            } else {
                layer.msg("设置写标题&设置文章类型");
            }
        }
    }

    function releaseBlog() {
        var acticelName = $("#acticleName").val().trim();
        var acticleZy = $("#acticleZy").val().trim();
        var acticleUser = $("#acticleUser").val().trim();
        var checkData = JSON.stringify(tree.getChecked('syId'));
        var dataht = CKEDITOR.instances.editor1.getData();
        var datauht = encodeURIComponent(dataht);
        if (datauht == ""){
            layer.msg("输入文章内容");
        } else {
            if (acticelName != "" && acticelName.length>1 && checkData.length>0){
                layui.use('layer', function () {
                    //询问框
                    layer.confirm('确定发布', {
                        btn: ['确定', '取消'] //按钮
                    }, function () {
                        var index1 = layer.load(1, {
                            shade: [0.1, '#fff'] //0.1透明度的白色背景
                        });
                        $.ajax({
                            type: 'post',
                            url: '/system/publish/articles',
                            data: 'context=' + datauht +
                            "&articleName="+encodeURI(acticelName)+
                            "&articleSortSuperId="+checkData+
                            "&briefIntroduction="+encodeURI(acticleZy)+"&articlelevel="+articlelevel,
                            success: function (data) {
                                layer.close(index1);
                                if (data.code == "200") {
                                    layer.msg("发布成功");
                                }else {
                                    layer.msg(data.msg);
                                }
                            },
                            error:function () {
                              layer.close(index1);
                              layer.msg("服务中断");
                            }
                        });
                    }, function () {
                        layer.msg('已取消');
                    });

                });
            } else {
                layer.msg("设置写标题&设置文章类型");
            }
        }
    }

    function clearText() {
        CKEDITOR.instances.editor1.setData(' ')
    }

    var indexiskq;
    function openclickm() {
        layer.close(indexiskq);
        indexiskq =  layer.open({
            type: 2,
            title: '个人信息',
            shadeClose: true,
            shade: false,
            offset: ['2%', '15%'],
            anim:4,
            maxmin: true, //开启最大化最小化按钮
            area: ['893px', '600px'],
            content: '/user/msg',
            end: function(){
                iskqigrxx=0;
            }
        });

    }
    function openclickmwx() {
        layer.msg("暂未开放",{offset: ['50%', '50%']});

    }
    function openclickmqq() {
        layer.msg("暂未开放",{offset: ['50%', '50%']});

    }
    function openclickmzc() {
        layer.msg("暂不开放注册",{offset: ['50%', '50%']});
    }
</script>
</body>
</html>