<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div id="chart-panel" style="width: 100%;height:900px;background-color: white"></div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/echarts.min.js"></script>
<script>
    var myChart = echarts.init(document.getElementById('chart-panel'));
    var zhongguo = "/static/china-geojson-master/china5.json";
    //北京
    var beijing  = "/static/mapjson/data-beijing.json";
    var hainan   = "/static/mapjson/data-henan.json";
    var xizang   = "/static/mapjson/data-xizang.json";
    var zhejiang = "/static/mapjson/data-zhejiang.json";
    var yunnan   = "/static/mapjson/data-yunnan.json";
    var xinjiang = "/static/mapjson/data-xinjiang.json";
    var tianjin  = "/static/mapjson/data-tianjin.json";


    // var sichuan  = "static/mapjson/data-sichuan.json";
    var shanxi   = "/static/mapjson/data-shanxi.json";
    var shangxi  = "/static/mapjson/data-shangxi.json";
    var shanghai = "/static/mapjson/data-shanghai.json";
    var shangdong= "/static/mapjson/data-shangdong.json";
    var qinghai  = "/static/mapjson/data-qinghai.json";
    var ningxia  = "/static/mapjson/data-ningxia.json";
    var neimenggu= "/static/mapjson/data-neimenggu.json";
    var liaoning = "/static/mapjson/data-liaoning.json";
    var jilin    = "/static/mapjson/data-jilin.json";
    var jiangsu  = "/static/mapjson/data-jiangsu.json";
    var hunan    = "/static/mapjson/data-hunan.json";
    var hubei    = "/static/mapjson/data-hubei.json";
    var henan    = "/static/mapjson/data-henan.json";
    var hebei    = "/static/mapjson/data-hebei.json";
    var guizhou  = "/static/mapjson/data-guizhou.json";
    var guangxi  = "/static/mapjson/data-guangxi.json";
    var guangdong= "/static/mapjson/data-guangdong.json";
    var gansu    = "/static/mapjson/data-gansu.json";
    var chongqing= "/static/mapjson/data-chongqing.json";
    var aomen    = "/static/mapjson/data-aomen.json";
    var anhui    = "/static/mapjson/data-anhui.json";
    var fujian   = "/static/mapjson/data-fujian.json";
    var xianggang= "/static/mapjson/data-xianggang.json";
    var heilongjiang = "/static/mapjson/data-heilongjiang.json";

    //江西
    var jiangxi  = "/static/mapjson/data-jiangxi.json";
    var yingtan    = "/static/jxi/data-1518338860057-By447tpLf.json";
    var yichun     = "/static/jxi/data-1518338852969-Hy677KTIf.json";
    var xinyu      = "/static/jxi/data-1518338838010-SyAzQYTIf.json";
    var shangrao   = "/static/jxi/data-1518338829670-H1UfQYa8G.json";
    var pingxiang  = "/static/jxi/data-1518338823093-HkyMQtpUf.json";
    var nanchang   = "/static/jxi/data-1518338805373-S1Temta8G.json";
    var jiujiang   = "/static/jxi/data-1518338799987-S1deQFTLz.json";
    var jingdezhen = "/static/jxi/data-1518338783915-HJOJXtaLf.json";
    var jian       = "/static/jxi/data-1518338772507-BJnAMKTIz.json";
    var ganzhou    = "/static/jxi/data-1518338763250-S17RfKpLM.json";
    var fuzhou     = "/static/jxi/data-1518338684239-S1EFGtp8f.json";

    //四川 甘孜藏族自治州
    var sichuan  = "/static/china-geojson-master/geometryProvince/51.json";
    var asabeier = "/static/china-geojson-master/geometryCouties/513200.json";
    var ganZiZangZuZiZhiZhou = "/static/china-geojson-master/geometryCouties/513300.json";
    var daBiXian = "/static/china-geojson-master/geometryCouties/510100.json";
    var ziGongShi = "/static/china-geojson-master/geometryCouties/510300.json";
    var panZhiHuaShi = "/static/china-geojson-master/geometryCouties/510400.json";
    var luZhouShi = "/static/china-geojson-master/geometryCouties/510500.json";
    var deYangShi = "/static/china-geojson-master/geometryCouties/510600.json";
    var miYangShi = "/static/china-geojson-master/geometryCouties/510700.json";
    var guangYanShi = "/static/china-geojson-master/geometryCouties/510800.json";
    var suiNingShi = "/static/china-geojson-master/geometryCouties/510900.json";
    var neiJiangShi = "/static/china-geojson-master/geometryCouties/511000.json";
    var leShanShi = "/static/china-geojson-master/geometryCouties/511100.json";
    var nanChongShi ="/static/china-geojson-master/geometryCouties/511300.json";
    var meiShanShi = "/static/china-geojson-master/geometryCouties/511400.json";
    var yiBinShi = "/static/china-geojson-master/geometryCouties/511500.json";
    var guangAnShi = "/static/china-geojson-master/geometryCouties/511600.json";
    var dazhoushi = "/static/china-geojson-master/geometryCouties/511700.json";
    var yanAnshi = "/static/china-geojson-master/geometryCouties/511800.json";
    var bazhongshi =  "/static/china-geojson-master/geometryCouties/511900.json";
    var ziYangShi = "/static/china-geojson-master/geometryCouties/512000.json";
    var liangShanYiZuZiZhiZhou = "/static/china-geojson-master/geometryCouties/513400.json";
    var provinces = {
        '中国': zhongguo,
        '上海': shanghai,
        '河北': hebei,
        '山西': shangxi,
        '内蒙古': neimenggu,
        '辽宁': liaoning,
        '吉林': jilin,
        '黑龙江': heilongjiang,
        '江苏': jiangsu,
        '浙江': zhejiang,
        '安徽': anhui,
        '福建': fujian,
        '江西': jiangxi,
        '山东': shangdong,
        '河南': henan,
        '湖北': hubei,
        '湖南': hunan,
        '广东': guangdong,
        '广西': guangxi,
        '海南': hainan,
        '四川': sichuan,
        '贵州': guizhou,
        '云南': yunnan,
        '西藏': xizang,
        '陕西': shanxi,
        '甘肃': gansu,
        '青海': qinghai,
        '宁夏': ningxia,
        '新疆': xinjiang,
        '北京': beijing,
        '天津': tianjin,
        '重庆': chongqing,
        '香港': xianggang,
        '澳门': aomen,
        "南昌市": nanchang,
        "景德镇市": jingdezhen,
        "萍乡市": pingxiang,
        "九江市": jiujiang,
        "新余市": xinyu,
        "鹰潭市": yingtan,
        "赣州市": ganzhou,
        "吉安市": jian,
        "宜春市": yichun,
        "抚州市": fuzhou,
        "上饶市": shangrao,
        "阿坝藏族羌族自治州":asabeier,
        "甘孜藏族自治州":ganZiZangZuZiZhiZhou,
        "成都市":daBiXian,
        "自贡市":ziGongShi,
        "攀枝花市":panZhiHuaShi,
        "泸州市":luZhouShi,
        "德阳市":deYangShi,
        "绵阳市":miYangShi,
        "广元市":guangYanShi,
        "遂宁市":suiNingShi,
        "内江市":neiJiangShi,
        "乐山市":leShanShi,
        "南充市":nanChongShi,
        "眉山市":meiShanShi,
        "宜宾市":yiBinShi,
        "广安市":guangAnShi,
        "达州市":dazhoushi,
        "雅安市":yanAnshi,
        "巴中市":bazhongshi,
        "资阳市":ziYangShi,
        "凉山彝族自治州":liangShanYiZuZiZhiZhou
    };

    var ydata = [];
    //各省份的数据
    var allData = [
        {
            name: '北京'
        }, {
            name: '天津'
        }, {
            name: '上海'
        }, {
            name: '重庆'
        }, {
            name: '河北'
        }, {
            name: '河南'
        }, {
            name: '云南'
        }, {
            name: '辽宁'
        }, {
            name: '黑龙江'
        }, {
            name: '湖南'
        }, {
            name: '安徽'
        }, {
            name: '山东'
        }, {
            name: '新疆'
        }, {
            name: '江苏'
        }, {
            name: '浙江'
        }, {
            name: '江西'
        }, {
            name: '湖北'
        }, {
            name: '广西'
        }, {
            name: '甘肃'
        }, {
            name: '山西'
        }, {
            name: '内蒙古'
        }, {
            name: '陕西'
        }, {
            name: '吉林'
        }, {
            name: '福建'
        }, {
            name: '贵州'
        }, {
            name: '广东'
        }, {
            name: '青海'
        }, {
            name: '西藏'
        }, {
            name: '四川'
        }, {
            name: '宁夏'
        }, {
            name: '海南'
        }, {
            name: '台湾'
        }, {
            name: '香港'
        }, {
            name: '澳门'
        }, {
            name: '南昌市'
        }, {
            name: '景德镇市'
        }, {
            name: '萍乡市'
        }, {
            name: '九江市'
        }, {
            name: '新余市'
        }, {
            name: '鹰潭市'
        }, {
            name: '赣州市'
        }, {
            name: '吉安市'
        }, {
            name: '宜春市'
        }, {
            name: '抚州市'
        }, {
            name: '上饶市'
        }, {
            name: '阿坝藏族羌族自治州'
        }, {
            name: '甘孜藏族自治州'
        }, {
            name: '成都市'
        }, {
            name: '自贡市'
        }, {
            name: '攀枝花市'
        }, {
            name: '泸州市'
        }, {
            name: '德阳市'
        }, {
            name: '绵阳市'
        }, {
            name: '广元市'
        }, {
            name: '遂宁市'
        }, {
            name: '内江市'
        }, {
            name: '乐山市'
        }, {
            name: '南充市'
        }, {
            name: '眉山市'
        }, {
            name: '宜宾市'
        }, {
            name: '广安市'
        }, {
            name: '达州市'
        }, {
            name: '雅安市'
        }, {
            name: '巴中市'
        }, {
            name: '资阳市'
        }, {
            name: '凉山彝族自治州'
        }];
    (function jiaZaiShuju() {
        for (var i = 0; i < allData.length; i++) {
            allData[i].value = Math.round(Math.random() * 100);
        }
        allData.sort(function(o1, o2) {
            if (isNaN(o1.value) || o1.value == null) return -1;
            if (isNaN(o2.value) || o2.value == null) return 1;
            return o1.value - o2.value;
        });
        ydata = [];
        for (var i = 0; i < allData.length; i++) {
            ydata.push(allData[i].name);
        }
    })();
    loadMap('/static/china-geojson-master/china5.json', '中国');//初始化全国地图

    var timeFn = null;

    //单击切换到省级地图，当mapCode有值,说明可以切换到下级地图
    myChart.on('click', function(params) {
        clearTimeout(timeFn);
        //由于单击事件和双击事件冲突，故单击的响应事件延迟250毫秒执行
        timeFn = setTimeout(function() {
            var name = params.name; //地区name
            var mapCode = provinces[name]; //地区的json数据
            if (!mapCode) {
                console.log('无此区域地图显示');
                return;
            }
            loadMap(mapCode, name);
        }, 250);
    });

    var nameJiBie = "中国";
    // 绑定双击事件，返回全国地图
    myChart.on('dblclick', function(params) {
        //当双击事件发生时，清除单击事件，仅响应双击事件
        clearTimeout(timeFn);
        nameJiBie="";
        //返回全国地图
        loadMap('/static/china-geojson-master/china5.json', '中国');
    });

    /**
     获取对应的json地图数据，然后向echarts注册该区域的地图，最后加载地图信息
     @params {String} mapCode:json数据的地址
     @params {String} name: 地图名称
     */
    function loadMap(mapCode, name) {
        if (nameJiBie == ""){
            nameJiBie = name.toString();
        }else {
            nameJiBie = nameJiBie+"---"+name.toString();
        }
        $.get(mapCode, function(data) {
            if (data) {
                echarts.registerMap(name, data);
                var option = {
                    //标题
                    title:{
                        show:true,
                        text:nameJiBie,
                        textStyle:{
                            color:'#edfbfb'
                        }
                    },
                    tooltip: {
                        show: true,
                        triggerOn:'mousemove',
                        // alwaysShowContent:true,
                        formatter: function(params) {
                            if (params.data) return params.name + ':' + params.data['value']
                        },
                    },
                    visualMap: {
                        type: 'continuous',
                        text: ['完成', '初始'],
                        showLabel: true,
                        left: '40',
                        min: 0,
                        max: 100,
                        calculable:true,
                        inRange: {
                            color: ['#edfbfb', '#b7d6f3', '#40a9ed', '#3598c1', '#215096', ]
                        },
                        splitNumber: 10
                    },
                    //右侧图 柱形图 网格线
                    grid:{
                        show:true,
                        right: '0%',
                        top: 80,
                        bottom: 10,
                        width: '20%',
                        //柱状图背景色
                        // backgroundColor:'#b9f1ff',
                        shadowColor: 'rgba(0, 0, 0, 0.5)',
                        shadowBlur: 10
                    },
                    //xy 轴坐标系
                    xAxis: {
                        type: 'value',
                        // scale: true,
                        position: 'top',
                        splitNumber:1,
                        boundaryGap: false,
                        splitLine: {
                            show: true,
                        },
                        axisLine: {
                            show: false
                        },
                        axisTick: {
                            show: false
                        },
                        axisLabel: {
                            margin: 1,
                            textStyle: {
                                color: '#6e6e6e'
                            }
                        }
                    },
                    yAxis: {
                        type: 'category',
                        nameGap: 16,
                        nameTextStyle:{
                            fontSize:18
                        },
                        axisLine: {
                            show: false,
                            lineStyle: {
                                color: '#787878',
                            }
                        },
                        axisTick: {
                            show: false,
                            lineStyle: {
                                color: '#838383'
                            }
                        },
                        axisLabel: {
                            interval: 0,
                            textStyle: {
                                color: '#171717',

                            }
                        },
                        data: ydata
                    },
                    //---------------
                    series: [{
                        name: 'MAP',
                        type: 'map',
                        mapType: name,
                        left:'10%',
                        selectedMode: 'single',//是否允许选中多个区域
                        roam:true,
                        label: {
                            normal: {
                                show: true
                            },
                            emphasis: {
                                show: true
                            }
                        },
                        data: allData
                    },
                        {
                            name: 'barSer',
                            type: 'bar',
                            // roam: false,
                            // visualMap: false,
                            zlevel: 1,
                            barMaxWidth: 20,
                            data: allData
                        }]

                };
                myChart.setOption(option);
            } else {
                console.log('无法加载该地图');
            }
        });
    }

</script>
</body>
</html>