<div class="layui-side layui-bg-black " id="leftinclude" xmlns:th="http://www.w3.org/1999/xhtml">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">文章管理</a>
                    <dl class="layui-nav-child">
                        <dd th:class="${selAddClass=='fwbu' ? 'layui-this' : ''}">
                            <a href="/system/admin/fabu/wen">发布文章</a>
                        </dd>
                        <dd th:class="${selAddClass=='wzfl' ? 'layui-this' : ''}">
                            <a href="/system/articles/classification">文章分类</a>
                        </dd>
                        <dd th:class="${selAddClass=='dshwz' ? 'layui-this' : ''}">
                            <a href="/system/article/state/shenhe">待审核文章</a>
                        </dd>
                        <dd th:class="${selAddClass=='wzztlb' ? 'layui-this' : ''}">
                            <a href="/system/article/state">文章状态列表</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">权限控制</a>
                    <dl class="layui-nav-child">
                        <dd th:class="${selAddClass=='urllj' ? 'layui-this' : ''}">
                            <a href="/system/admin/sel/url">url链接</a>
                        </dd>
                    </dl>
                </li>
            </ul>

        </div>
    </div>
