<div class="layui-side layui-bg-black " id="leftinclude" xmlns:th="http://www.w3.org/1999/xhtml">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li th:class="${selAddClass=='usercrm' ? 'layui-nav-item layui-nav-itemed' : 'layui-nav-item'}">
                    <a class="" href="javascript:;">用户管理</a>
                    <dl class="layui-nav-child">
                        <dd th:class="${selAddClass=='usercrm' ? 'layui-this' : ''}">
                            <a href="/system/user/crm/vive">用户权限管理</a>
                        </dd>
                    </dl>
                </li>
                <li th:class="${selAddClass=='fwbu' || selAddClass=='wzfl' || selAddClass=='dshwz' || selAddClass=='wzztlb' ? 'layui-nav-item layui-nav-itemed' : 'layui-nav-item'}">
                    <a class="" href="javascript:;">文章管理</a>
                    <dl class="layui-nav-child">
                        <dd th:class="${selAddClass=='fwbu' ? 'layui-this' : ''}">
                            <a href="/system/admin/fabu/wen">发布文章</a>
                        </dd>
                        <dd th:class="${selAddClass=='wzfl' ? 'layui-this' : ''}">
                            <a href="/system/articles/classification">文章分类</a>
                        </dd>
                        <dd th:class="${selAddClass=='dshwz' ? 'layui-this' : ''}">
                            <a href="/system/article/state/shenhe">待审核文章</a>
                        </dd>
                        <dd th:class="${selAddClass=='wzztlb' ? 'layui-this' : ''}">
                            <a href="/system/article/state">文章状态列表</a>
                        </dd>
                    </dl>
                </li>
                <li th:class="${selAddClass=='urllj' ? 'layui-nav-item layui-nav-itemed' : 'layui-nav-item'}">
                    <a class="" href="javascript:;">权限控制</a>
                    <dl class="layui-nav-child">
                        <dd th:class="${selAddClass=='urllj' ? 'layui-this' : ''}">
                            <a href="/system/admin/sel/url">url链接权限控制</a>
                        </dd>
                    </dl>
                </li>
                <li th:class="${selAddClass=='msgcrm' ? 'layui-nav-item layui-nav-itemed' : 'layui-nav-item'}">
                    <a class="" href="javascript:;">留言管理</a>
                    <dl class="layui-nav-child">
                        <dd th:class="${selAddClass=='msgcrm' ? 'layui-this' : ''}">
                            <a href="/system/admin/msg/crm">查看留言</a>
                        </dd>
                    </dl>
                </li>

                <li th:class="${selAddClass=='urllj' ? 'layui-nav-item layui-nav-itemed' : 'layui-nav-item'}">
                    <a class="" href="javascript:;">友链管理</a>
                    <dl class="layui-nav-child">
                        <dd th:class="${selAddClass=='urllj' ? 'layui-this' : ''}">
                            <a href="javascript:;">查看友链</a>
                        </dd>
                    </dl>
                </li>

                <li th:class="${selAddClass=='ckqi' ? 'layui-nav-item layui-nav-itemed' : 'layui-nav-item'}">
                    <a class="" href="javascript:;">日记管理</a>
                    <dl class="layui-nav-child">
                        <dd th:class="${selAddClass=='ckqi' ? 'layui-this' : ''}">
                            <a href="javascript:;">查看日记</a>
                        </dd>
                    </dl>
                </li>
            </ul>

        </div>
    </div>
