<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>Document</title>
  <div th:replace="../templates/user/include/header :: headerJsCss"></div>
</head>
<body>
<!--Navigation Bar-->
<div th:replace="../templates/user/include/top :: topHeader"></div>

  <div  class="album-content w1000"  id="layer-photos-demo" >
    <div class="img-info">
      <img src="/static/res/img/xc_img1.jpg" alt="">
      <div class="title">
        <p class="data">今日上传<span>2018/10/10</span></p>
        <p class="text">观赏最美的土耳其的日</p>
      </div>
    </div>
    <div class="img-list">
      <div class="layui-fluid" style="padding:0">
        <div class="layui-row layui-col-space30 space">
          <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
            <div class="item">
              <img src="/static/res/img/xc_img3.jpg">
              <div class="cont-text">
                <div class="data">2018/08/08</div>
                <p class="address"><i class="layui-icon layui-icon-location"></i><span>江西九江</span></p>
                <p class="briefly">今日天气晴朗,庐山一日游</p>
              </div>
            </div>
          </div>
          <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
            <div class="item">
              <img src="/static/res/img/xc_img4.jpg">
              <div class="cont-text">
                <div class="data">2018/08/08</div>
                <p class="address"><i class="layui-icon layui-icon-location"></i><span>江西九江</span></p>
                <p class="briefly">今日天气晴朗,庐山一日游</p>
              </div>
            </div>
          </div>
          <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
            <div class="item">
              <img src="/static/res/img/xc_img5.jpg">
              <div class="cont-text">
                <div class="data">2018/08/08</div>
                <p class="address"><i class="layui-icon layui-icon-location"></i><span>江西九江</span></p>
                <p class="briefly">今日天气晴朗,庐山一日游</p>
              </div>
            </div>
          </div>
          <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
            <div class="item">
              <img src="/static/res/img/xc_img3.jpg">
              <div class="cont-text">
                <div class="data">2018/08/08</div>
                <p class="address"><i class="layui-icon layui-icon-location"></i><span>江西九江</span></p>
                <p class="briefly">今日天气晴朗,庐山一日游</p>
              </div>
            </div>
          </div>
          <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
            <div class="item">
              <img src="/static/res/img/xc_img4.jpg">
              <div class="cont-text">
                <div class="data">2018/08/08</div>
                <p class="address"><i class="layui-icon layui-icon-location"></i><span>江西九江</span></p>
                <p class="briefly">今日天气晴朗,庐山一日游</p>
              </div>
            </div>
          </div>
          <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
            <div class="item">
              <img src="/static/res/img/xc_img5.jpg">
              <div class="cont-text">
                <div class="data">2018/08/08</div>
                <p class="address"><i class="layui-icon layui-icon-location"></i><span>江西九江</span></p>
                <p class="briefly">今日天气晴朗,庐山一日游</p>
              </div>
            </div>
          </div>
          <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
            <div class="item">
              <img src="/static/res/img/xc_img3.jpg">
              <div class="cont-text">
                <div class="data">2018/08/08</div>
                <p class="address"><i class="layui-icon layui-icon-location"></i><span>江西九江</span></p>
                <p class="briefly">今日天气晴朗,庐山一日游</p>
              </div>
            </div>
          </div>
          <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
            <div class="item">
              <img src="/static/res/img/xc_img4.jpg">
              <div class="cont-text">
                <div class="data">2018/08/08</div>
                <p class="address"><i class="layui-icon layui-icon-location"></i><span>江西九江</span></p>
                <p class="briefly">今日天气晴朗,庐山一日游</p>
              </div>
            </div>
          </div>
          <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
            <div class="item">
              <img src="/static/res/img/xc_img5.jpg">
              <div class="cont-text">
                <div class="data">2018/08/08</div>
                <p class="address"><i class="layui-icon layui-icon-location"></i><span>江西九江</span></p>
                <p class="briefly">今日天气晴朗,庐山一日游</p>
              </div>
            </div>
          </div>
          <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
            <div class="item">
              <img src="/static/res/img/xc_img3.jpg">
              <div class="cont-text">
                <div class="data">2018/08/08</div>
                <p class="address"><i class="layui-icon layui-icon-location"></i><span>江西九江</span></p>
                <p class="briefly">今日天气晴朗,庐山一日游</p>
              </div>
            </div>
          </div>
          <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
            <div class="item">
              <img src="/static/res/img/xc_img4.jpg">
              <div class="cont-text">
                <div class="data">2018/08/08</div>
                <p class="address"><i class="layui-icon layui-icon-location"></i><span>江西九江</span></p>
                <p class="briefly">今日天气晴朗,庐山一日游</p>
              </div>
            </div>
          </div>
          <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
            <div class="item">
              <img src="/static/res/img/xc_img5.jpg">
              <div class="cont-text">
                <div class="data">2018/08/08</div>
                <p class="address"><i class="layui-icon layui-icon-location"></i><span>江西九江</span></p>
                <p class="briefly">今日天气晴朗,庐山一日游</p>
              </div>
            </div>
          </div>
          <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
            <div class="item">
              <img src="/static/res/img/xc_img3.jpg">
              <div class="cont-text">
                <div class="data">2018/08/08</div>
                <p class="address"><i class="layui-icon layui-icon-location"></i><span>江西九江</span></p>
                <p class="briefly">今日天气晴朗,庐山一日游</p>
              </div>
            </div>
          </div>
          <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
            <div class="item">
              <img src="/static/res/img/xc_img4.jpg">
              <div class="cont-text">
                <div class="data">2018/08/08</div>
                <p class="address"><i class="layui-icon layui-icon-location"></i><span>江西九江</span></p>
                <p class="briefly">今日天气晴朗,庐山一日游</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="demo"></div>
    </div>
  </div>



<!--Bottom information Text-->
<div th:replace="../templates/user/include/footer :: footerHtml"></div>

<!--Bottom information js-->
<div th:replace="../templates/user/include/footerjs :: footerJsCss"></div>

  <script type="text/javascript">
   layui.config({
      base: '/static/res/js/util/'
    }).use(['element','laypage','form','layer','menu'],function(){
      element = layui.element,laypage = layui.laypage,form = layui.form,layer = layui.layer,menu = layui.menu;
      laypage.render({
        elem: 'demo'
        ,count: 70 //数据总数，从服务端得到
      });
      layer.photos({
        photos: '#layer-photos-demo'
        ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
        ,tab:function(pic,layero){
          console.log(pic,layero)
        }
      });
      menu.init();
    })
  </script>
</body>
</html>