<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta charset="UTF-8">
  <title>NeverEnd</title>
  <!--header——js-->
  <div th:replace="../templates/user/include/header :: headerJsCss"></div>
  <style>

  </style>
</head>
<body background="/static/res/img/indeximg/backgru.jpg">
<!--Navigation Bar-->
<div th:replace="../templates/user/include/top :: topHeader"></div>

<div class="layui-container" style="background: #e4e8d7;min-height: 592px;">

  <form class="layui-form" action="">

    <div class="layui-form-item layui-form-text">
      <div style="text-align: center"><h1>友链</h1></div>

    </div>

    <div>

    </div>
  </form>
  <!--Bottom information Text-->
  <div th:replace="../templates/user/include/footer :: footerHtml"></div>
</div>

<!--Bottom information js-->
<div th:replace="../templates/user/include/footerjs :: footerJsCss"></div>
<script type="text/javascript">
    layui.use('form', function () {
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function (data) {
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
    (function requestJsonTp() {
        var hearht = "<ul class=\"layui-nav layui-layout-left\">";
        var topLanMu = "";
        $.ajax({
            type: 'post',
            url: '/lan/mu/top',
            contentType: 'application/json;charset=utf-8',
            //数据格式是json串，商品信息
            data: '{"topName":"首页头部"}',
            success: function (data) {//返回json结果'
                var jsonObject = data.data;
                for (var i = 0; i < jsonObject.length; i++) {

                    topLanMu = topLanMu + "<li class=\"layui-nav-item \"><a href=\"" + jsonObject[i].lookUrl + "\">" + jsonObject[i].lanMu + "</a></li>";
                }
                var endht = hearht + topLanMu + " </ul>";
                $("#topCaiDan").append(endht);
            }

        })
    })();
</script>
</body>
</html>