<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="UTF-8">
    <title>NeverEnd</title>
    <!--header——js-->
    <div th:replace="../templates/user/include/header :: headerJsCss"></div>
    <style>

    </style>
</head>
<body background="/static/res/img/indeximg/backgru.jpg">
<!--Navigation Bar-->
<div th:replace="../templates/user/include/top :: topHeader"></div>

<div class="layui-container" style="background: #e4e8d7;min-height: 592px;">

    <div class="layui-row" style="margin-top: 10px;">
        <div class="layui-col-xs6 layui-col-sm6 layui-col-md3">
            <div class="layui-card" style="margin-top: 2px;border-radius: 8px;">
                <div class="layui-card-header">选择文章分类查看</div>
                <div class="layui-card-body">
                    <div id="ztreeAticle"></div>
                </div>
            </div>

        </div>
        <div id="articleAdds" class="layui-col-xs6 layui-col-sm6 layui-col-md6">

        </div>
        <div class="layui-col-xs6 layui-col-sm6 layui-col-md3">
            <div>
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <div class="layui-input-inline">
                            <input id="searchName" style="width: 280px;border-radius: 42px;" type="search" name="keyword"
                                   autocomplete="off" class="layui-input" placeholder="标题关键字"/>
                            <i onclick="search()" class="layui-icon layui-icon-search"
                               style="position: absolute;top:8px;right: -76px;font-size: 24px;color: #1E9FFF;"></i>
                        </div>
                    </div>
                </div>
                <div class="layui-card" style="margin-top: -12px;border-radius: 8px;">
                    <div class="layui-card-header">热门文章</div>
                    <div class="layui-card-body">
                        <ul id="allarticleName" class="layui-nav layui-nav-tree">
                        </ul>
                    </div>
                </div>

                <div class="layui-card" style="margin-top: -12px;border-radius: 8px;">
                    <div class="layui-card-header">版主推荐</div>
                    <div class="layui-card-body">
                        <ul id="allarticleNameTj" class="layui-nav layui-nav-tree">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Bottom information Text-->
    <div th:replace="../templates/user/include/footer :: footerHtml"></div>
</div>

<!--Bottom information js-->
<div th:replace="../templates/user/include/footerjs :: footerJsCss"></div>
<script type="text/javascript">
    var pageStart = 1;
    var pageNum = 5;
    //总页数
    var total = 0;
    var temp = 0;

    function getDocumentTop() {

        var scrollTop = 0, bodyScrollTop = 0, documentScrollTop = 0;

        if (document.body) {

            bodyScrollTop = document.body.scrollTop;

        }

        if (document.documentElement) {

            documentScrollTop = document.documentElement.scrollTop;

        }
        scrollTop = (bodyScrollTop - documentScrollTop > 0) ? bodyScrollTop : documentScrollTop;
        return scrollTop;
    }

    function getWindowHeight() {

        var windowHeight = 0;
        if (document.compatMode == "CSS1Compat") {

            windowHeight = document.documentElement.clientHeight;

        } else {

            windowHeight = document.body.clientHeight;

        }

        return windowHeight;

    }

    function getScrollHeight() {

        var scrollHeight = 0, bodyScrollHeight = 0, documentScrollHeight = 0;

        if (document.body) {

            bodyScrollHeight = document.body.scrollHeight;

        }

        if (document.documentElement) {

            documentScrollHeight = document.documentElement.scrollHeight;

        }

        scrollHeight = (bodyScrollHeight - documentScrollHeight > 0) ? bodyScrollHeight : documentScrollHeight;
        return scrollHeight;

    }

    window.onscroll = function () {

        //监听事件内容

        if (getScrollHeight() == getWindowHeight() + getDocumentTop()) {

            if (pageStart < total) {
                pageStart = pageStart + 1;
                $.ajax({
                    type: 'get',
                    url: '/user/index/articlesHort',
                    data: {
                        "pageStart": pageStart,
                        "pageNum": pageNum
                    },
                    success: function (data) {

                        if (data.code == 200) {
                            var addarticel = "";
                            var dataArticle = data.data;
                            for (var i = 0; i < dataArticle.length; i++) {
                                var art = dataArticle[i];
                                addarticel = addarticel + " <div class=\"layui-card\" style=\"margin: 4px;border-radius: 8px;\">\n" +
                                    "                <div class=\"layui-card-header\"><a href='/system/admin/fabu/yulan?articleId=" + art.articleId + "'><span style='color: #00B0E8'>" + art.articleName + "</span></a></div>\n" +
                                    "                <div class=\"layui-card-body\">\n" +
                                    "                    <div class=\"layui-row\" style=\"margin-top: 10px;\">\n" +
                                    "                        <div class=\"layui-col-xs6 layui-col-sm6 layui-col-md4\">\n" +
                                    "                            <img src=\"/static/res/img/banner.jpg\" style=\"width: 100%;height: 150px\">\n" +
                                    "                        </div>\n" +
                                    "                        <div class=\"layui-col-xs6 layui-col-sm6 layui-col-md8\">\n" +
                                    "                            <div style=\"margin-left: 6px;\">" + art.briefIntroduction + "</div>\n" +
                                    "                        </div>\n" +
                                    "\n" +
                                    "                    </div>\n" +
                                    "                </div>\n" +
                                    "            </div>";


                            }
                            $("#articleAdds").append(addarticel);
                        }
                    }
                });
            } else {
                if (temp == 0) {
                    $("#articleAdds").append("<h4 style='text-align: center'>没有更多文章了<i class=\"layui-icon layui-icon-face-smile\" style=\"font-size: 14px; color: #1E9FFF;\"></i> </h4>");
                    temp = temp + 1;
                }
            }


        }

    }

    layui.config({
        base: '/static/res/js/util/'
    }).use(['layer', 'form', 'tree'], function () {
        layer = layui.layer;
        var form = layui.form;
        tree = layui.tree;
        layer.msg("您好^_^ ^_^ |本博客正在开发测试中！")
        //加载树形分类数据
        $.ajax({
            type: 'get',
            url: '/system/admin/acticle/tree',
            data: '',
            success: function (data) {
                if (data.code == 0) {
                    var datatree = data.data;
                    //渲染
                    var inst1 = tree.render({
                        elem: '#ztreeAticle',  //绑定元素
                        showLine: true,
                        showCheckbox: false,
                        data: datatree,
                        id: 'syId' //定义索引
                        , click: function (obj) {
                            var artilceid = obj.data.id; //得到当前点击的节点数据
                            $.ajax({
                                type: 'get',
                                url: '/user/index/articlesHort/fenlei',
                                data: {
                                    "artilceid": artilceid,
                                    "pageStart": pageStart,
                                    "pageNum": pageNum,
                                    "state": 0
                                },
                                success: function (data) {
                                    if (data.code == 200) {
                                        if (data.count >0){
                                            $("#articleAdds").empty();
                                            var addarticel = "";
                                            var dataArticle = data.data;
                                            for (var i = 0; i < dataArticle.length; i++) {
                                                var art = dataArticle[i];
                                                addarticel = addarticel + " <div class=\"layui-card\" style=\"margin: 4px;border-radius: 8px;\">\n" +
                                                    "                <div class=\"layui-card-header\"><a href='/system/admin/fabu/yulan?articleId=" + art.articleId + "'><span style='color: #00B0E8'>" + art.articleName + "</span></a></div>\n" +
                                                    "                <div class=\"layui-card-body\">\n" +
                                                    "                    <div class=\"layui-row\" style=\"margin-top: 10px;\">\n" +
                                                    "                        <div class=\"layui-col-xs6 layui-col-sm6 layui-col-md4\">\n" +
                                                    "                            <img src=\"/static/res/img/banner.jpg\" style=\"width: 100%;height: 150px\">\n" +
                                                    "                        </div>\n" +
                                                    "                        <div class=\"layui-col-xs6 layui-col-sm6 layui-col-md8\">\n" +
                                                    "                            <div style=\"margin-left: 6px;\">" + art.briefIntroduction + "</div>\n" +
                                                    "                        </div>\n" +
                                                    "\n" +
                                                    "                    </div>\n" +
                                                    "                </div>\n" +
                                                    "            </div>";
                                            }
                                            $("#articleAdds").append(addarticel);
                                        } else {
                                            layer.msg("暂无该分类文章！");
                                        }

                                    }
                                },
                                error: function () {
                                    layer.msg("服务异常！");
                                }
                            });

                        }
                    });
                }
            }
        });

        //加载文章
        $.ajax({
            type: 'get',
            url: '/user/index/articlesHort',
            data: {
                "pageStart": pageStart,
                "pageNum": pageNum
            },
            success: function (data) {

                if (data.code == 200) {
                    total = data.count;
                    var addarticel = "";
                    var dataArticle = data.data;
                    for (var i = 0; i < dataArticle.length; i++) {
                        var art = dataArticle[i];
                        addarticel = addarticel + " <div class=\"layui-card\" style=\"margin: 4px;border-radius: 8px;\">\n" +
                            "                <div class=\"layui-card-header\"><a href='/system/admin/fabu/yulan?articleId=" + art.articleId + "'><span style='color: #00B0E8'>" + art.articleName + "</span></a></div>\n" +
                            "                <div class=\"layui-card-body\">\n" +
                            "                    <div class=\"layui-row\" style=\"margin-top: 10px;\">\n" +
                            "                        <div class=\"layui-col-xs6 layui-col-sm6 layui-col-md4\">\n" +
                            "                            <img src=\"/static/res/img/banner.jpg\" style=\"width: 100%;height: 150px\">\n" +
                            "                        </div>\n" +
                            "                        <div class=\"layui-col-xs6 layui-col-sm6 layui-col-md8\">\n" +
                            "                            <div style=\"margin-left: 6px;\">" + art.briefIntroduction + "</div>\n" +
                            "                        </div>\n" +
                            "\n" +
                            "                    </div>\n" +
                            "                </div>\n" +
                            "            </div>";


                    }
                    $("#articleAdds").append(addarticel);
                }
            }
        });

        //前十热度文章
        $.ajax({
            type: 'get',
            url: '/user/index/articlesHort',
            data: {
                "pageStart": 1,
                "pageNum": 10
            },
            success: function (data) {

                if (data.code == 200) {
                    total = data.count;
                    var dataArticle = data.data;
                    var nameAll = "";
                    for (var i = 0; i < dataArticle.length; i++) {
                        var art = dataArticle[i];
                        nameAll = nameAll + " <li class=\"layui-nav-item\"><a href='/system/admin/fabu/yulan?articleId=" + art.articleId + "'>" + art.articleName + "</a></li>";
                    }
                    $("#allarticleName").append(nameAll);
                }
            }
        });
        //推荐文章
        $.ajax({
            type: 'get',
            url: '/user/index/articlelevel',
            data: {
                "pageStart": 1,
                "pageNum": 10,
                "levelNum":-1
            },
            success: function (data) {

                if (data.code == 200) {
                    total = data.count;
                    var dataArticle = data.data;
                    var nameAll = "";
                    for (var i = 0; i < dataArticle.length; i++) {
                        var art = dataArticle[i];
                        nameAll = nameAll + " <li class=\"layui-nav-item\"><a href='/system/admin/fabu/yulan?articleId=" + art.articleId + "'>" + art.articleName + "</a></li>";
                    }
                    $("#allarticleNameTj").append(nameAll);
                }
            }
        });
    });
    (function requestJsonTp() {
        var hearht = "<ul class=\"layui-nav layui-layout-left\">";
        var topLanMu = "";
        $.ajax({
            type: 'post',
            url: '/lan/mu/top',
            contentType: 'application/json;charset=utf-8',
            //数据格式是json串，商品信息
            data: '{"topName":"首页头部"}',
            success: function (data) {//返回json结果'
                var jsonObject = data.data;
                for (var i = 0; i < jsonObject.length; i++) {

                    topLanMu = topLanMu + "<li class=\"layui-nav-item \"><a href=\"" + jsonObject[i].lookUrl + "\">" + jsonObject[i].lanMu + "</a></li>";
                }
                var endht = hearht + topLanMu + " </ul>";
                $("#topCaiDan").append(endht);
            }

        })
    })();
    (function requestJsonWeiBo() {
        var topLanMu = "";
        var xieg = "<span lay-separator=\"\">|</span>";
        $.ajax({
            type: 'post',
            url: '/lan/mu/boom',
            contentType: 'application/json;charset=utf-8',
            //数据格式是json串，商品信息
            data: '{"bName":"首页尾部"}',
            success: function (data) {//返回json结果'
                var jsonObject = data.data;
                for (var i = 0; i < jsonObject.length; i++) {
                    if (i < jsonObject.length - 1) {
                        topLanMu = topLanMu + "<a href=\"" + jsonObject[i].lookUrl + "?type=" + jsonObject[i].roleCode + "\">" + jsonObject[i].lanMu + "</a>" + xieg;
                    } else {
                        topLanMu = topLanMu + "<a href=\"" + jsonObject[i].lookUrl + "?type=" + jsonObject[i].roleCode + "\">" + jsonObject[i].lanMu + "</a>";
                    }
                }
                $("#sybootm").append(topLanMu);
            }

        })
    })();

    var layuiDomeLogin;
    var layer;

    //登录表单显示
    function loginUserAccount() {
        layuiDomeLogin = layui.use('layer', function () {
            layer = layui.layer;
            var loginhtmlform = layer.open({
                title: "登录",
                type: 1,
                shade: 0,
                btnAlign: 'c',
                skin: 'layui-layer-molv',
                offset: '200px',
                content: '<form> <div style="margin-top: 25px" class="layui-form-item">\n' +
                '    <label class="layui-form-label">输入框</label>\n' +
                '    <div class="layui-input-inline">\n' +
                '      <input type="text" value="1593658137" id="accountMobile" name="accountMobile" required  lay-verify="required" placeholder="账号" autocomplete="off" class="layui-input">\n' +
                '    </div>\n' +
                '  </div>\n' +
                '  <div class="layui-form-item">\n' +
                '    <label class="layui-form-label">密码框</label>\n' +
                '    <div class="layui-input-inline">\n' +
                '      <input type="password" value="123" id="password" name="password" required lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input">\n' +
                '    </div>\n' +
                '  </div></form>',
                btn: ['登录', '重置'],
                yes: function (index, layero) {
                    var accountMobile = $("#accountMobile").val();
                    var password = $("#password").val();
                    if (accountMobile == "" || accountMobile == null) {
                        layer.tips('输入账号', '#accountMobile');
                        return false;
                    }
                    if (password == "" || password == null) {
                        layer.tips('输入密码', '#password');
                        return false;
                    }
                    $.ajax({
                        type: 'post',
                        url: '/',
                        data: 'accountMobile=' + accountMobile + '&password=' + password,
                        success: function (data) {//返回json结果'
                            var Msg = data;
                            if (Msg.code == "200") {
                                layer.close(loginhtmlform);
                                window.location.href = Msg.url;
                            } else {
                                layer.tips(Msg.msg, '#accountMobile');
                            }
                        }
                    })
                    //按钮【按钮一】的回调
                },
                btn2: function (index, layero) {
                    console.log("sss");
                    //按钮【按钮二】的回调
                    return false //开启该代码可禁止点击该按钮关闭
                },
                cancel: function () {
                    //右上角关闭回调
                    //return false 开启该代码可禁止点击该按钮关闭
                }
            });
        });
    };

    // 搜索
    function search() {
        var searchname = $("#searchName").val().trim();
        if (searchname.length>0){
            $.ajax({
                type: 'get',
                url: '/user/index/search',
                data: {
                    "searchname": searchname,
                },
                success: function (data) {

                    if (data.code == 200) {
                        if (data.count >0){
                            $("#articleAdds").empty();
                            var addarticel = "";
                            var dataArticle = data.data;
                            for (var i = 0; i < dataArticle.length; i++) {
                                var art = dataArticle[i];
                                addarticel = addarticel + " <div class=\"layui-card\" style=\"margin: 4px;border-radius: 8px;\">\n" +
                                    "                <div class=\"layui-card-header\"><a href='/system/admin/fabu/yulan?articleId=" + art.articleId + "'><span style='color: #00B0E8'>" + art.articleName + "</span></a></div>\n" +
                                    "                <div class=\"layui-card-body\">\n" +
                                    "                    <div class=\"layui-row\" style=\"margin-top: 10px;\">\n" +
                                    "                        <div class=\"layui-col-xs6 layui-col-sm6 layui-col-md4\">\n" +
                                    "                            <img src=\"/static/res/img/banner.jpg\" style=\"width: 100%;height: 150px\">\n" +
                                    "                        </div>\n" +
                                    "                        <div class=\"layui-col-xs6 layui-col-sm6 layui-col-md8\">\n" +
                                    "                            <div style=\"margin-left: 6px;\">" + art.briefIntroduction + "</div>\n" +
                                    "                        </div>\n" +
                                    "\n" +
                                    "                    </div>\n" +
                                    "                </div>\n" +
                                    "            </div>";


                            }
                            $("#articleAdds").append(addarticel);
                        } else {
                            layer.msg("无数据");
                        }

                    }
                }
            });
        } else {
            layer.msg("请输入内容");
        }
    }

    $('#searchName').bind('keyup', function(event) {
        if (event.keyCode == "13") {
            search();
        }
    });
</script>
</body>
</html>