<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="UTF-8">
    <title>NeverEnd</title>
    <link rel="Shortcut Icon" href="/static/res/favicon2.ico" type="image/x-icon" />

    <!--header——js-->
    <div th:replace="../templates/user/include/header :: headerJsCss"></div>
    <style>

    </style>
</head>
<body background="/static/res/img/indeximg/backgru.jpg">
<!--Navigation Bar-->
<div th:replace="../templates/user/include/top :: topHeader"></div>

<div class="layui-container" style="background: #e4e8d7;min-height: 592px;">

    <form class="layui-form" action="">

        <div class="layui-form-item layui-form-text">
            <div style="text-align: center"><h1>留言页面</h1></div>
            <div class="layui-input-block" style="margin-left: 0px">
                <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
        <div>
            <img src="/static/res/img/test/u12.png">
        </div>
    </form>
    <!--Bottom information Text-->
    <div th:replace="../templates/user/include/footer :: footerHtml"></div>
</div>

<!--Bottom information js-->
<div th:replace="../templates/user/include/footerjs :: footerJsCss"></div>
<script type="text/javascript">
    var  layer;
    layui.use(['form','element'], function(){
        var form = layui.form;
           layer = layui.layer;
        var element = layui.element;
        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
        function requestJsonTp() {
            var hearht = "<ul class=\"layui-nav layui-layout-left\">";
            var topLanMu = "";
            $.ajax({
                type: 'post',
                url: '/lan/mu/top',
                contentType: 'application/json;charset=utf-8',
                //数据格式是json串，商品信息
                data: '{"topName":"首页头部"}',
                success: function (data) {//返回json结果'
                    var jsonObject = data.data;
                    for (var i = 0; i < jsonObject.length; i++) {

                        topLanMu = topLanMu + "<li class=\"layui-nav-item \"><a href=\"" + jsonObject[i].lookUrl + "\">" + jsonObject[i].lanMu + "</a></li>";
                    }
                    var endht = hearht + topLanMu + " </ul>";
                    $("#topCaiDan").append(endht);
                }

            })
        }
        requestJsonTp();
    });
    var indexiskq;
    function openclickm() {
        layer.close(indexiskq);
        indexiskq =  layer.open({
            type: 2,
            title: '个人信息',
            shadeClose: true,
            shade: false,
            offset: ['2%', '15%'],
            anim:4,
            maxmin: true, //开启最大化最小化按钮
            area: ['893px', '600px'],
            content: '/user/msg',
            end: function(){
                iskqigrxx=0;
            }
        });

    }
    function openclickmzc() {
        layer.msg("暂不开放注册",{offset: ['50%', '50%']});
    }
    function openclickmwx() {
        layer.msg("暂未开放",{offset: ['50%', '50%']});

    }
    function openclickmqq() {
        layer.msg("暂未开放",{offset: ['50%', '50%']});

    }
    //登录表单显示
    function loginUserAccount() {
        layuiDomeLogin = layui.use('layer', function () {
            layer = layui.layer;
            var loginhtmlform = layer.open({
                title: "登录",
                type: 1,
                shade: 0,
                btnAlign: 'c',
                skin: 'layui-layer-molv',
                offset: '200px',
                content: '<form> <div style="margin-top: 25px" class="layui-form-item">\n' +
                '    <label class="layui-form-label">输入框</label>\n' +
                '    <div class="layui-input-inline">\n' +
                '      <input type="text" value="1593658137" id="accountMobile" name="accountMobile" required  lay-verify="required" placeholder="账号" autocomplete="off" class="layui-input">\n' +
                '    </div>\n' +
                '  </div>\n' +
                '  <div class="layui-form-item">\n' +
                '    <label class="layui-form-label">密码框</label>\n' +
                '    <div class="layui-input-inline">\n' +
                '      <input type="password" value="123" id="password" name="password" required lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input">\n' +
                '    </div>\n' +
                '  </div></form>',
                btn: ['登录', '重置'],
                yes: function (index, layero) {
                    var accountMobile = $("#accountMobile").val();
                    var password = $("#password").val();
                    if (accountMobile == "" || accountMobile == null) {
                        layer.tips('输入账号', '#accountMobile');
                        return false;
                    }
                    if (password == "" || password == null) {
                        layer.tips('输入密码', '#password');
                        return false;
                    }
                    $.ajax({
                        type: 'post',
                        url: '/',
                        data: 'accountMobile=' + accountMobile + '&password=' + password,
                        success: function (data) {//返回json结果'
                            var Msg = data;
                            if (Msg.code == "200") {
                                layer.close(loginhtmlform);
                                window.location.href = Msg.url;
                            } else {
                                layer.tips(Msg.msg, '#accountMobile');
                            }
                        }
                    })
                    //按钮【按钮一】的回调
                },
                btn2: function (index, layero) {
                    console.log("sss");
                    //按钮【按钮二】的回调
                    return false //开启该代码可禁止点击该按钮关闭
                },
                cancel: function () {
                    //右上角关闭回调
                    //return false 开启该代码可禁止点击该按钮关闭
                }
            });
        });
    };
</script>
</body>
</html>